<h3>
	<strong>Band:</strong>
	<%= @concerts.band %>
</h3>

<p>
	<strong>Venue:</strong>
	<%= @concerts.venue %>
</p>

<p>
	<strong>City:</strong>
	<%= @concerts.city %>
</p>

<p>
	<strong>Date:</strong>
	<%= @concerts.date %>
</p>

<p>
	<strong>Price:</strong>
	<%= @concerts.price %>
</p>

<p>
	<strong>Description:</strong>
	<%= @concerts.description %>
</p>

<%= link_to 'Back', concerts_path %>